<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found - RateLimit.Org</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1 class="header__headline">404 Not Found</h1>
      <h2 class="header__subtitle">Rate limited requests made easy</h2>
      <p class="header__paragraph">Avoid 429 error by limiting amount of requests made per specific time frame.</p>
    </header>
  </body>
</html>
