<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate Limited Requests made easy - RateLimit.Org</title>
    <meta name="description" content="Avoid 429 error by limiting amount of requests made per specific time frame.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="rate limit">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">
    <link href="/css/highlight.js/atom-one-light.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    {{#if gtm_id}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{gtm_id}}');</script>
    {{/if}}
  </head>
  <body>
    {{#if gtm_id}}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtm_id}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{/if}}
    {{{body}}}
  </body>
</html>
